@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Noto+Serif+Myanmar:wght@900&display=swap');

body{
    background-color: bisque;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 700;
    color: rgb(207, 18, 81);
}

p{
    font-family: 'Noto Serif Myanmar', serif;
    font-size: 2em;
    font-weight: 300;
    color: rgb(211, 30, 30);
}